[submodule "themes/nightfall"]
	path = themes/nightfall
	url = https://github.com/LordMathis/hugo-theme-nightfall
	ignore = dirty
[submodule "themes/mermaid"]
	path = themes/mermaid
	url = https://github.com/hugomods/mermaid
	ignore = dirty
